---
title: ""
layout: page
pagination: 
  enabled: true
---
<h1>Recent posts from notebook</h1>

{% include tagcloud.html %}
{% assign categories  = "electronics,TTRPG,Scale modeling" | split: "," %}
<div class="posts-homepage">
  {% for cat in categories %}
  <div class="posts-category">
    <h2 class="h1 mt4">Latest from category <a href="{{ site.baseurl }}/category/{{ cat | slugify }}">{{cat}}</a></h2>  
    {% for post in site.categories[cat] limit: 2 %}
      {% include post_item.html %}
    {% endfor %}
    <div class="pagination clearfix mb2 mt8">
        <a class="pagination-item" href="{{ site.baseurl }}/category/{{ cat | slugify }}">All in category "{{cat}}"</a>
        <a class="pagination-item" href="{{ site.baseurl }}/notebook/">All posts</a>
    </div>
  </div>
  {% endfor %}
</div>

