{%- assign gallery = site.data.galleries | where: "name", include.galleryname | first -%}
{%comment%}{{gallery.name}} {{gallery.title}} {{gallery.path}}<br><br>{%endcomment%}
<div itemscope itemtype="http://schema.org/ImageGallery" class="gallery gallery_{{gallery.name}}">
{%- for image in gallery.images -%}
    {%- assign imagepath = gallery.path | append: "/" | append: image.path -%}
    {% responsive_image_block %}
        path: {{ imagepath }}
        alt: {{ image.description }}
        figcaption: {{ image.description }}
        ingallery: "1"
    {% endresponsive_image_block %}
{%- endfor -%}
</div>
