{%- comment -%}
Render your responsive images using <img srcset>, with the original asset used as a fallback. Note: If your original assets are not web-friendly (e.g. they are very large), you might prefer to use the srcset-resized-fallback.html template.

Usage:

    {% responsive_image path: assets/image.jpg alt: "A description of the image" %}

(P.S. You can safely delete this comment block)
{%- endcomment -%}
{%- capture srcset -%}
    {%- for i in resized -%}/{{ i.path }} {{ i.width }}w,{%- endfor -%}
{%- endcapture -%}
{%- unless ingallery -%}
<div class="gallery gallery-alone">
{%- endunless -%}
<figure  itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject"><a  itemprop="contentUrl" class="imagelink" href="/{{ path }}" target="_image"  data-size="{{original.width}}x{{original.height}}"><img class="{{ class }}" src="/{{ path }}" alt="{{ alt }}" srcset="{{ srcset | strip_newlines }}"  itemprop="thumbnail"></a>{%- if figcaption -%}<figcaption  itemprop="caption description">{{ figcaption }}</figcaption>{%- endif -%}
</figure>
{%- unless ingallery -%}
</div>
{%- endunless -%}
