---
layout: landing
---
<div class="links">
    <a href="https://josef-adamcik.cz/"><span class="fa fa-home"></span><span class="linklabel">Website (blog)</span></a>
    {% if site.kofi_username %}
    <a href="https://josefadamcik.github.io/SofleKeyboard/"><span class="fa fa-keyboard-o"></span><span class="linklabel">SofleKeyboard</span></a>
    <a href="https://ko-fi.com/{{ site.kofi_username }}"><span class="ko-fi"><img src="assets/kofi.svg" alt="Ko-Fi" ></span><span class="linklabel">Buy me a coffee!</span></a>
    {% endif %}
    {% if site.email %}
      <a  href="mailto:{{ site.email }}"><span class="fa fa-envelope"></span><span class="linklabel">E-mail</span></a>
    {% endif %}
</div>
<h2>Social</h2>
<div class="links">
    {% if site.twitter_username %}
      <a href="https://twitter.com/{{ site.twitter_username }}"><span class="fa fa-twitter"></span><span class="linklabel">Twitter</span></a>
    {% endif %}
    {% if site.instagram_username %}
      <a  href="https://instagram.com/{{ site.instagram_username }}"><span class="fa fa-instagram"></span><span class="linklabel">Instagram</span></a>
    {% endif %}
    {% if site.reddit_username %}
    <a  href="https://reddit.com/user/{{ site.reddit_username }}"><span class="fa fa-reddit"></span><span class="linklabel">Reddit</span></a>
    {% endif %}
    {% if site.github_username %}
      <a  href="https://github.com/{{ site.github_username }}"><span class="fa fa-github"></span><span class="linklabel">Github</span></a>
    {% endif %}

    {% if site.stackoverflow_id %}
      <a  href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}"><span class="fa fa-stack-overflow"></span><span class="linklabel">Stackoverflow</span></a>
    {% endif %}
    {% if site.linkedin_username %}
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><span class="fa fa-linkedin"></span><span class="linklabel">Linked-in</span></a>
    {% endif %}
</div>
<h2 id="alexej">Alexej The Penguin</h2>
<div class="links">
  <a  href="https://www.instagram.com/alexejthepinguin/"><span class="fa fa-instagram"></span><span class="linklabel">Instagram</span></a>
  <a  href="https://www.tiktok.com/@alexejthepinguin"><span class="fa fa-tiktok"></span><span class="linklabel">TikTok</span></a>
  </div>